a {
  font-weight: 400;
  color: var(--el-color-primary);
}

.el-menu-vertical-demo {
  height: 100vh;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 250px;
}

.slotMain {
  margin: 20px;
  /* text-align: center; */
}

.el-textarea__inner {
    resize: none;
}
